<div class="container">
  <div class="row">
    <div class="unsub-box col-lg-12">
      <h3>本当に<span class="unsub-text">退会</span>しますか？</h3>
      <p class="wd-text">
        <p>退会すると、会員登録情報や</p>
        <p>これまでの購入履歴が閲覧できなくなります。</p>
        <p>退会する場合は、「<span class="unsub-text">退会する</span>」をクリックしてください。</p>
      </p>
      <div class="wd-btn">
        <%= link_to "やっぱり、退会しない", customer_path(current_customer.id), class: "btn btn-outline-success btn-lg"   %>
      </div>
      <div class="wd-btn">
        <% if customer_signed_in? && @customer.id == current_customer.id %>
          <%= link_to "それでも、退会する", customer_withdraw_path(current_customer.id), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger btn-lg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>