// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-head {
    width: 100%;
    height: auto;
    margin: 0;
}

.navber-nav {
    display: inline-flex;
}

.text-ct {
    color: #696969;
}

.item-random {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0;
}


// ↓　topページ
.main-visual{
    width: 100%;
    height: 300px;
    // background-image: url('app/views/public/images/top1.jpg');
    background-size: cover;
}

.main-visual-title{
    text-align: center;
    font-size: 50px;
}

.main-visual-text {
    font-size: 20px;
    text-align: left;
    margin: 5px 0;
}

.category {
    padding: 0px;
}

// ↓aboutページのcss

.about-title {
    color: 	#000000;
    font-size: 50px;
    text-shadow: 1px 2px 3px #808080;
    padding-left: 20px;
}


.about {
    width: 100%;
    margin: 0;
    padding: 0;
}

.about-box {
    background-image: url("brooke-1.jpg");
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 0 0 20px;
}

.about-text {
    width: 98%;
    color: #74654C;
    // margin: 0;
    line-height: 3em;
    font-family: Libian SC;
    text-shadow: 1px 2px 3px #808080;
    padding-left: 20px;
}


.container h1 {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
  color: #75655d; 
}

.container about-left {
  text-align: left;
}

.row {
    width: 100%;
}