
<div class="container-fluid">
  <div class="row">
    <div class="about col-ig-12 text-left">
      <div class="about-box">
        <span class="about-title">About<span>

        <p class="about-text">
            Nagono Cakeは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので<br>
          「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </p>
      </div>
    </div>
  </div>
</div>