<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'public/items/category', categories: @categories %>
    </div>
    <div class="col-lg-8">

      <h4 class="text-center">
        ようこそ、NaganoCakeへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </h4>
      <h3>
        オススメ商品
      </h3>
      <!-- each文 -->

    </div>
  </div>
</div>