<div class='container'>
    <div class='row'>
        <h2>注文履歴詳細</h2>
        <div class='field'>購入者　　　</div>
        <div class='field'>配送先　　　</div>
        <div class='field'>支払方法　　</div>
        <div class='field'>注文ステータス　</div>
    </div>
</div>