<div class='container'>
    <div class="row mt-5 ml-5">
    <h2 class="heading">カテゴリー一覧・追加</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto mt-5">
        <!--エラーメッセージ呼び出し-->
        <%= render "layouts/error_messages", model: @category %>
        <!--カテゴリー新規追加フォーム呼び出し-->
        <%= render "form_category", category: @category %>
        
            <table class="table table-bordered text-center mt-5">
                <thead class='thead-light'>
                    <tr class="table-name">
                        <th>カテゴリー</th>
                        <th>状態</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <!--テーブルの中に表示させる値-->
                <% @categories.each do |category| %> 
                    <tr>
                    <% if category.is_active == true %>
                        <td><%= category.name %></td>
                        <td>有効</td>
                        <td><p><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-secondary" %></p></td>
                    <% end %>
                    </tr>
                    <% end %>
                
                </tbody>
            </table>
        </div>
    </div>
</div>