// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.logo-head {
    width: 100%;
    height: auto;
    margin: 0;
}

.navber-nav {
    display: inline-flex;
}

.row {
    width: 100%;
}

.item-random {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 0;
}

// .top-box {
//     padding: 0;
// }

.top-bg {
    width: 100%;
    height: 800px;
    background-image: url("cake-5.jpg");
    background-size: cover;
    background-position: 50% 70%;
    // padding: 200px 400px 200px 400px;
}

.top-title {
    // text-align: center;
    font-size: 50px;
    font-family: Libian SC;
    text-shadow: 1px 2px 3px #808080;
    padding: 0 100px 100px;
}

.top-text {
    font-size: 20px;
    text-align: left;
    margin: 20px 0;
}

.category {
    padding: 0px;
}

.about {
    width: 100%;
    margin: 0;
    padding: 0;
}

.about-box {
    background-image: url("brooke-1.jpg");
    background-color:rgba(255,255,255,0.2);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: 50% 50%;
    padding: 0 0 0 20px;
}

.about-text {
    width: 98%;
    color: 	#000000;
    // margin: 0;
    line-height: 3em;
    font-family: Libian SC;
    text-shadow: 1px 2px 3px #808080;
    padding-left: 20px;
}

.naganocake {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  background-image: image-url("shop.png");
  background-size: 400px;
  background-position: center; }

.container h1 {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
  color: #75655d; }

.container about-left {
  text-align: left;
}

.shop {
	width: 100px;
	height: 100px;
	margin: 20px auto;

}

.top-item-link {
    padding: 20px;
    margin-bottom: 80px;
    right: 10px;
}

// .top-item-box {
//     margin-bottom: 30px;
// }

// .item-random {
//     padding-bottom: 80px;
// }

