// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-title {
  color: 	#696969;
  font-size: 50px;
  // font-family: ;
}

.item-count {
  font-size: 20px;
  color: #696969;
}

.item-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.item-list {
  margin: 20px 20px 0 20px;
  line-height: 4px;
}

.item-name, .item-price {
  color: #696969;
  margin: 0;
}

