// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-date {
  color: #32CD32;
}

.main {
  height: auto;
}

.order-btn {
  padding: 20px;
}
